In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import nltk

In [ ]:
data = pd.read_json('https://raw.githubusercontent.com/risan/quran-json/master/json/translations/id.pretty.json')

In [ ]:
data

In [5]:
data.drop(['surah_number'],axis=1,inplace=True)

In [6]:
data

      verse_number                                            content
0                1  Dengan menyebut nama Allah Yang Maha Pemurah l...
1                2        Segala puji bagi Allah, Tuhan semesta alam.
2                3                  Maha Pemurah lagi Maha Penyayang.
3                4                 Yang menguasai di Hari Pembalasan.
4                5  Hanya Engkaulah yang kami sembah, dan hanya ke...
...            ...                                                ...
6231             2                                      Raja manusia.
6232             3                                  Sembahan manusia.
6233             4  Dari kejahatan (bisikan) syaitan yang biasa be...
6234             5  yang membisikkan (kejahatan) ke dalam dada man...
6235             6                   dari (golongan) jin dan manusia.

[6236 rows x 2 columns]

In [7]:
data.rename(columns={'content':'translation'},inplace=True)

In [8]:
data

      verse_number                                        translation
0                1  Dengan menyebut nama Allah Yang Maha Pemurah l...
1                2        Segala puji bagi Allah, Tuhan semesta alam.
2                3                  Maha Pemurah lagi Maha Penyayang.
3                4                 Yang menguasai di Hari Pembalasan.
4                5  Hanya Engkaulah yang kami sembah, dan hanya ke...
...            ...                                                ...
6231             2                                      Raja manusia.
6232             3                                  Sembahan manusia.
6233             4  Dari kejahatan (bisikan) syaitan yang biasa be...
6234             5  yang membisikkan (kejahatan) ke dalam dada man...
6235             6                   dari (golongan) jin dan manusia.

[6236 rows x 2 columns]

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6236 entries, 0 to 6235
Data columns (total 2 columns):
verse_number    6236 non-null int64
translation     6236 non-null object
dtypes: int64(1), object(1)
memory usage: 97.6+ KB

In [12]:
data.to_json('DATAMAINING2020/Indonesia.json')

In [14]:
data.to_csv('DATAMAINING2020/Indonesia.csv',index=False)